<div class="page-header">
  <h3>Books to read</h3>

  <div class="btn-group">
    <a href="/boards" class="btn btn-default">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <a href="/boards/<%= @board.id %>/edit" class="btn btn-default">
    <i class="fa fa-edit" aria-hidden="true"></i>
    </a>
    <a href="/delete_board/<%= @board.id %>" class="btn btn-default" rel="nofollow">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>

<!-- <%= List.where(:board_id => @board.id) %>

but a better way of doing this is....

<%= @board.lists.count %>
that method should exist so i don't have to do that full thing
but you have to DEFINE the method so let's go into the model for the board...that's where you add the logic -->

<!-- <%= @board.lists.count %> -->
<!-- he already included this horizon stylesheet for us but we need to link to it in the head of the document -->

<link rel="stylesheet" href="/bootstrap-horizon.css">

<div class="row row-horizon">
  <% @board.lists.each do |list| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">   <%= list.name %></h3>
        </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
<% end %>

</div>
